## Observations and Insights

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as st

# Study data files
mouse_metadata_path = "Mouse_metadata.csv"
study_results_path = "Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
df = pd.merge(mouse_metadata, study_results, on="Mouse ID")

# Clean up column names
df = df.rename(columns={"Mouse ID": "Mouse_ID","Drug Regimen": "Drug_Regimen","Weight (g)":"Weight_Grams","Tumor Volume (mm3)":"Tumor_Volume_mm3","Metastatic Sites":"Metastatic_Sites" })

##If the index needs to be set at Mouse ID
#df.set_index('Mouse ID', inplace=True)



# Display the data table for preview
df.to_csv('MouseStudy.csv')
df
#print(df.head())

,Mouse_ID,Drug_Regimen,Sex,Age_months,Weight_Grams,Timepoint,Tumor_Volume_mm3,Metastatic_Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [2]:
# Checking the number of mice.
# print(df['Mouse_ID'].nunique())
df['Mouse_ID'].value_counts()

g989    13
b742    10
m550    10
j913    10
g791    10
        ..
o848     1
x336     1
v199     1
h428     1
l872     1
Name: Mouse_ID, Length: 249, dtype: int64

In [3]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
# print(df['Mouse_ID'].value_counts())
# df.duplicated[['Mouse_ID','Timepoint']]
# print(df['Mouse_ID'].value_counts(),df['Timepoint'].value_counts())
# print(df.duplicated(subset=['Mouse_ID','Timepoint'],keep='last'))
duplicates = df.duplicated(subset=['Mouse_ID','Timepoint'],)
duplicateMT = df.loc[duplicates == True]
duplicateMT

,Mouse_ID,Drug_Regimen,Sex,Age_months,Weight_Grams,Timepoint,Tumor_Volume_mm3,Metastatic_Sites
909,g989,Propriva,Female,21,26,0,45.000000,0
911,g989,Propriva,Female,21,26,5,47.570392,0
913,g989,Propriva,Female,21,26,10,49.880528,0
915,g989,Propriva,Female,21,26,15,53.442020,0
917,g989,Propriva,Female,21,26,20,54.657650,1

In [4]:
# Optional: Get all the data for the duplicate mouse ID.

In [6]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
#dropna
Clean_Mouse_df = df.drop_duplicates(subset=['Mouse_ID'], keep='last')
Clean_Mouse_df

,Mouse_ID,Drug_Regimen,Sex,Age_months,Weight_Grams,Timepoint,Tumor_Volume_mm3,Metastatic_Sites
9,k403,Ramicane,Male,21,16,45,22.050126,1
19,s185,Capomulin,Female,3,17,45,23.343598,1
29,x401,Capomulin,Female,16,15,45,28.484033,0
39,m601,Capomulin,Male,22,17,45,28.430964,1
49,g791,Ramicane,Male,11,16,45,29.128472,1
...,...,...,...,...,...,...,...,...
1859,z314,Stelasyn,Female,21,28,5,45.934712,0
1862,z435,Propriva,Female,12,26,10,48.710661,0
1872,z581,Infubinol,Female,24,25,45,62.754451,3
1882,z795,Naftisol,Female,13,29,45,65.741070,3
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [8]:
# Checking the number of mice in the clean DataFrame.
#len()
# print(df['Mouse_ID'].nunique())
Clean_Mouse_df['Mouse_ID'].value_counts()

c264    1
z234    1
n923    1
l700    1
y260    1
       ..
s710    1
f129    1
a457    1
j989    1
l872    1
Name: Mouse_ID, Length: 249, dtype: int64

## Summary Statistics

In [9]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.
Clean_Mouse_df.groupby(by=["Tumor_Volume_mm3"]).describe()

                 Age_months                                          \
                      count  mean std   min   25%   50%   75%   max
Tumor_Volume_mm3
22.050126               1.0  21.0 NaN  21.0  21.0  21.0  21.0  21.0
23.343598               1.0   3.0 NaN   3.0   3.0   3.0   3.0   3.0
28.430964               1.0  22.0 NaN  22.0  22.0  22.0  22.0  22.0
28.484033               1.0  16.0 NaN  16.0  16.0  16.0  16.0  16.0
29.128472               1.0  11.0 NaN  11.0  11.0  11.0  11.0  11.0
...                     ...   ...  ..   ...   ...   ...   ...   ...
75.113288               1.0   2.0 NaN   2.0   2.0   2.0   2.0   2.0
75.123690               1.0  22.0 NaN  22.0  22.0  22.0  22.0  22.0
75.294936               1.0   8.0 NaN   8.0   8.0   8.0   8.0   8.0
76.668817               1.0   8.0 NaN   8.0   8.0   8.0   8.0   8.0
78.567014               1.0  24.0 NaN  24.0  24.0  24.0  24.0  24.0

                 Weight_Grams        ... Timepoint       Metastatic_Sites  \
                        count  mean  ...       75%   max            count
Tumor_Volume_mm3                     ...
22.050126                 1.0  16.0  ...      45.0  45.0              1.0
23.343598                 1.0  17.0  ...      45.0  45.0              1.0
28.430964                 1.0  17.0  ...      45.0  45.0              1.0
28.484033                 1.0  15.0  ...      45.0  45.0              1.0
29.128472                 1.0  16.0  ...      45.0  45.0              1.0
...                       ...   ...  ...       ...   ...              ...
75.113288                 1.0  25.0  ...      45.0  45.0              1.0
75.123690                 1.0  28.0  ...      45.0  45.0              1.0
75.294936                 1.0  28.0  ...      45.0  45.0              1.0
76.668817                 1.0  26.0  ...      45.0  45.0              1.0
78.567014                 1.0  30.0  ...      45.0  45.0              1.0


                 mean std  min  25%  50%  75%  max
Tumor_Volume_mm3
22.050126         1.0 NaN  1.0  1.0  1.0  1.0  1.0
23.343598         1.0 NaN  1.0  1.0  1.0  1.0  1.0
28.430964         1.0 NaN  1.0  1.0  1.0  1.0  1.0
28.484033         0.0 NaN  0.0  0.0  0.0  0.0  0.0
29.128472         1.0 NaN  1.0  1.0  1.0  1.0  1.0
...               ...  ..  ...  ...  ...  ...  ...
75.113288         2.0 NaN  2.0  2.0  2.0  2.0  2.0
75.123690         1.0 NaN  1.0  1.0  1.0  1.0  1.0
75.294936         4.0 NaN  4.0  4.0  4.0  4.0  4.0
76.668817         3.0 NaN  3.0  3.0  3.0  3.0  3.0
78.567014         4.0 NaN  4.0  4.0  4.0  4.0  4.0

[238 rows x 32 columns]

In [ ]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Using the aggregation method, produce the same summary statistics in a single line

## Bar and Pie Charts

In [ ]:
# Generate a bar plot showing the total number of unique mice tested on each drug regimen using pandas.

In [ ]:
# Generate a bar plot showing the total number of unique mice tested on each drug regimen using pyplot.

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [ ]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [ ]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [ ]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [ ]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [ ]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [ ]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen